/*Add Css Custom Here*/
div.tshirtecommerce-btn-group {
  display: inline-block;
  background-color: #ff3c20;
  border-radius: 3px;
  margin: 0 5px;
  padding: 0 10px;
  width: auto;
  vertical-align: top; }

div.tshirtecommerce-btn-group > a {
  color: white;
  text-transform: uppercase; }

/*====== Fix bugs Megamenu not showing icon font (26/1/2018) =====*/
@media (min-width: 992px) {
  .common-home .navbar-compact.typeheader-1 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern:before,
  .common-home .navbar-compact.typeheader-1 .container-megamenu.vertical #menuHeading .megamenuToogle-pattern:after {
    display: none; }

  .common-home .navbar-compact.typeheader-1 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    opacity: 0; }

  .common-home .navbar-compact.typeheader-1 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    opacity: 1;
    top: 40px; } }
@media (min-width: 992px) {
  /*.menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {    padding: 9px 0; line-height: 24px; height: auto;}
  .menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a i,
  .menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a b {
      display: inline-block;
  }
  .menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.with-sub-menu > a:before{display: none;} */
  .menu-vertical .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a img {
    position: static;
    transform: inherit; } }
.typeheader-12 .navbar-logo .logo {
  min-height: 40px; }

/*fix header*/
@media (min-width: 992px) {
  .typeheader-2 .desc_position {
    display: flex;
    align-items: flex-end; } }
@media (min-width: 992px) {
  .typeheader-2 .desc_position .navbar-logo {
    margin-bottom: -10px; } }
@media (max-width: 992px) {
  .typeheader-2 .navbar-logo {
    display: flex;
    justify-content: center; } }
@media (max-width: 992px) {
  .typeheader-2 .navbar-logo .logo {
    width: 90%; } }
@media (max-width: 991px) {
  .typeheader-2 .header-middle {
    padding: 5px 0 !important;
    display: none; } }
.typeheader-2 .header-middle .desc_position .middle2 {
  padding-right: 15px;
  padding-left: 40px; }
@media (max-width: 991px) {
  .typeheader-2 .middle2, .typeheader-2 .middle3 {
    display: none; } }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .menu_position {
    display: flex;
    justify-content: center;
    width: 100%; } }
@media (max-width: 991px) {
  .typeheader-2 .header-bottom .menu_position {
    display: flex;
    align-items: center; } }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .menu_position .megamenu-pattern .container {
    width: fit-content !important; } }
@media (max-width: 991px) {
  .typeheader-2 .header-bottom .mob_position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px; } }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .mob_position {
    display: flex;
    justify-content: center;
    position: relative; } }
@media (max-width: 991px) {
  .typeheader-2 .header-bottom .mob_position:before, .typeheader-2 .header-bottom .mob_position:after {
    display: none; } }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .mob_search {
    display: none; } }
@media (max-width: 767px) {
  .typeheader-2 .header-bottom .mob_search .search-header-w {
    margin-left: 0px; } }
.typeheader-2 .header-bottom .mob_search .search-header-w .icon-search i {
  margin-top: 0px; }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .mob_cart {
    display: none; } }
@media (min-width: 991px) {
  .typeheader-2 .header-bottom .mob_cart .shopping_cart {
    display: none; } }
.typeheader-2 .header-bottom .login_position {
  position: absolute;
  padding-right: 15px;
  padding-left: 15px;
  right: 0px; }

@media (max-width: 991px) and (min-width: 768px) {
  header.typeheader-2 .shopping_cart {
    top: 0px !important; } }
@media (max-width: 768px) {
  header.typeheader-2 .shopping_cart {
    top: 0px !important; } }

@media (max-width: 991px) and (min-width: 768px) {
  header.typeheader-2 .search-header-w #sosearchpro .search {
    left: 0px !important;
    top: 45px !important; } }
@media (max-width: 768px) {
  header.typeheader-2 .search-header-w #sosearchpro .search {
    left: 0px !important;
    top: 48px !important; } }

/*footer*/
.typefooter-2 .footer-main {
  background-color: #f6f8fd; }
  .typefooter-2 .footer-main img {
    width: 120px; }
    @media (max-width: 568px) {
      .typefooter-2 .footer-main img {
        width: 160px; } }
.typefooter-2 .footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .typefooter-2 .footer-middle:before, .typefooter-2 .footer-middle:after {
    display: none; }
  @media (min-width: 568px) and (max-width: 768px) {
    .typefooter-2 .footer-middle .col-style {
      width: 50%; } }
  @media (max-width: 568px) {
    .typefooter-2 .footer-middle .col-style .clearfix {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 568px) {
    .typefooter-2 .footer-middle .col-style .clearfix ul {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 568px) {
    .typefooter-2 .footer-middle .col-style .clearfix ul li {
      width: fit-content;
      list-style: none; } }
  @media (max-width: 568px) {
    .typefooter-2 .footer-middle .col-style .clearfix .modtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px !important; } }
  @media (max-width: 568px) {
    .typefooter-2 .footer-middle .col-style .clearfix .modtitle:after {
      position: relative;
      margin-top: 5px; } }
@media (min-width: 568px) {
  .typefooter-2 .desc-collapse.showdown:before {
    display: none; } }
@media (min-width: 568px) {
  .typefooter-2 .desc-collapse.showdown {
    max-height: none; } }
@media (min-width: 568px) {
  .typefooter-2 .button-toggle {
    display: none; } }

@media (max-width: 568px) {
  .typefooter-2 .infos-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px; } }
.typefooter-2 .infos-footer ul {
  margin-top: 0px !important; }

@media (max-width: 568px) {
  .typefooter-2 .box-footer .modcontent ul li a:before {
    display: none; } }

@media (max-width: 568px) {
  .typefooter-2 .module .modtitle {
    margin-bottom: 0px !important; } }

@media (max-width: 568px) {
  .typefooter-2 .box-footer .modcontent ul li a {
    padding-left: 0px !important; } }

/*Category*/
.refine-search .sub_list {
  display: flex;
  flex-wrap: wrap; }
  .refine-search .sub_list li {
    display: flex;
    flex-direction: column;
    height: auto; }
  .refine-search .sub_list li.refine-loadmore {
    height: 120px; }

/*Product list*/
@media (max-width: 1199px) and (min-width: 992px) {
  .layout-2 .products-list .product-grid .product-item-container .left-block .button-group {
    bottom: 50px !important; } }

@media (max-width: 991px) and (min-width: 768px) {
  .product-layout .product-item-container .seller_logo {
    position: relative !important;
    bottom: 0px;
    margin-top: 8px; } }

/*Single product*/
@media (max-width: 991px) and (min-width: 680px) {
  .product-view .content-product-right {
    margin-top: 0px !important;
    width: 50%; } }
@media (max-width: 991px) and (min-width: 680px) {
  .product-view .content-product-right .box-info-product .cart {
    width: 100%;
    display: flex;
    justify-content: space-between; } }
@media (max-width: 991px) and (min-width: 680px) {
  .product-view .content-product-right .box-info-product .cart .btn {
    width: 45% !important;
    font-size: 12px; } }
@media (max-width: 991px) and (min-width: 680px) {
  .product-view .content-product-left {
    width: 50%; } }

.contact_seller_link {
  display: flex;
  justify-content: center; }
  @media (max-width: 768px) {
    .contact_seller_link {
      max-width: 210px; } }
  .contact_seller_link .contact_seller {
    font-size: 12px;
    text-align: center; }
    @media (max-width: 991px) and (min-width: 768px) {
      .contact_seller_link .contact_seller {
        font-size: 12px; } }

.wrapper-fluid .content-aside {
  /* width: 16.666667%; */ }
  @media (min-width: 1200px) and (max-width: 1366px) {
    .wrapper-fluid .content-aside {
      width: 25% !important; } }
  @media (min-width: 1366px) {
    .wrapper-fluid .content-aside {
      width: 20% !important; } }

/*Shop page*/
@media (max-width: 1200px) and (min-width: 991px) {
  .media_grid {
    display: flex;
    flex-wrap: wrap; } }
@media (max-width: 1200px) and (min-width: 991px) {
  .media_grid .product-layout {
    width: 33%; } }
@media (max-width: 768px) and (min-width: 568px) {
  .media_grid .product-layout {
    width: 33%; } }

@media (max-width: 1200px) and (min-width: 991px) {
  .products-list {
    display: flex;
    flex-wrap: wrap; } }
@media (max-width: 1200px) and (min-width: 991px) {
  .products-list .product-layout {
    width: 33%; } }
@media (max-width: 991px) and (min-width: 768px) {
  .products-list .product-layout {
    width: 33%; } }
@media (max-width: 768px) and (min-width: 568px) {
  .products-list .product-layout {
    width: 33%; } }
@media (max-width: 568px) and (min-width: 370px) {
  .products-list .product-layout {
    width: 50%; } }
@media (max-width: 1200px) and (min-width: 991px) {
  .products-list .product-layout.product-list {
    width: 100%; } }
@media (max-width: 991px) and (min-width: 768px) {
  .products-list .product-layout.product-list {
    width: 100%; } }
@media (max-width: 768px) and (min-width: 568px) {
  .products-list .product-layout.product-list {
    width: 100%; } }
@media (max-width: 568px) and (min-width: 370px) {
  .products-list .product-layout.product-list {
    width: 100%; } }

#so-groups .popup-content {
  overflow-y: auto !important; }

/*cart*/
@media (max-width: 410px) {
  .checkout-cart .buttons.clearfix {
    display: flex;
    flex-wrap: wrap;
    width: 100%; } }
@media (max-width: 410px) {
  .checkout-cart .buttons.clearfix .pull-left a {
    width: 200px; } }
@media (max-width: 410px) {
  .checkout-cart .buttons.clearfix .pull-right {
    margin-top: 10px; } }
@media (max-width: 410px) {
  .checkout-cart .buttons.clearfix .pull-right a {
    width: 200px; } }

/*# sourceMappingURL=custom.css.map */
