<div id="cart" class="btn-shopping-cart">
  
  <a data-loading-text="{{ text_loading }} " class="btn-group top_cart dropdown-toggle" data-toggle="dropdown">
    <div class="shopcart">
      <span class="icon-c">
        <i class="fa fa-shopping-cart"></i>
      </span>
      <div class="shopcart-inner">
        <p class="text-shopping-cart">

         {{ text_shop_cart}}
        </p>
   
        <span class="total-shopping-cart cart-total-full">
           {{text_items}}
        </span>
      </div>
    </div>
  </a>
  
  <ul class="dropdown-menu pull-right shoppingcart-box">
    {% if products or vouchers %}
    <li class="content-item">
      <table class="table table-striped" style="margin-bottom:10px;">
        {% for product in products %}
        <tr>
          <td class="text-center size-img-cart">{% if product.thumb %} <a href="{{ product.href }}"><img class="img-thumbnail lazyload" data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"  /></a> {% endif %}</td>
          <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}</td>
          <td class="text-right">x {{ product.quantity }}</td>
          <td class="text-right">{{ product.total }}</td>
          <td class="text-center"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
  
	<li>
		<div class="checkout clearfix">
		<a href="{{ cart }}" class="btn btn-view-cart inverse"> {{ text_cart }}</a>
		<a href="{{ checkout }}" class="btn btn-checkout pull-right">{{ text_checkout }}</a>
		</div>
	</li>
    {% else %}
    <li>
      <p class="text-center empty">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>
