{#
****************************************************** 
 * @package	SO Framework for Opencart 3.x
 * @author	http://www.opencartworks.com
 * @license	GNU General Public License
 * @copyright(C) 2008-2017 opencartworks.com. All rights reserved.
 ******************************************************
#}
<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PSZMWT5');</script>
<!-- End Google Tag Manager -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
{% if keywords %}<meta name="keywords" content="{{ keywords }}" />{% endif %}
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

{# =========== Begin General CSS ==============#}
{% if direction=='ltr' %} {{soconfig.addCss('catalog/view/javascript/bootstrap/css/bootstrap.min.css')}}
{% elseif direction=='rtl' %}{{soconfig.addCss('catalog/view/javascript/soconfig/css/bootstrap/bootstrap.rtl.min.css')}}
{% else %}{{soconfig.addCss('catalog/view/javascript/bootstrap/css/bootstrap.min.css')}} {% endif %}

{{soconfig.addCss('catalog/view/javascript/font-awesome/css/font-awesome.min.css')}}
{{soconfig.addCss('catalog/view/javascript/soconfig/css/lib.css')}}
{{soconfig.addCss('catalog/view/theme/'~theme_directory~'/css/ie9-and-up.css')}}
{{soconfig.addCss('catalog/view/theme/'~theme_directory~'/css/custom.css')}}

{% for style in styles %}{{ soconfig.addCss(style.href)}}{% endfor %}
{% if soconfig.get_settings('cssfile_status') %}{% for cssfile in soconfig.get_settings('cssfile_url') %} {{soconfig.addCss(cssfile)}} {% endfor %} {% endif %}

{# =========== Begin General Scripts ==============#}
{{soconfig.addJs('catalog/view/javascript/jquery/jquery-2.1.1.min.js')}}
{{soconfig.addJs('catalog/view/javascript/bootstrap/js/bootstrap.min.js')}}
{{soconfig.addJs('catalog/view/javascript/soconfig/js/libs.js')}}

{{soconfig.addJs('catalog/view/javascript/soconfig/js/so.system.js')}}
{{soconfig.addJs('catalog/view/javascript/soconfig/js/jquery.sticky-kit.min.js')}}
{{soconfig.addJs('catalog/view/javascript/lazysizes/lazysizes.min.js')}}
{% if class=='information-information' %} {{soconfig.addJs('catalog/view/javascript/soconfig/js/typo/element.js')}} {% endif %}

{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/jquery.nav.js')}}

{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/so.custom.js')}}
{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/custom.js')}}
{{soconfig.addJs('catalog/view/theme/'~theme_directory~'/js/common.js')}}

{% if soconfig.get_settings('toppanel_status') %}{{soconfig.addJs('catalog/view/javascript/soconfig/js/toppanel.js')}}{% endif %}
{% for script in scripts %} {{soconfig.addJs(script)}} {% endfor %}


{# =========== Begin Other CSS & JS  ==============#}

{{soconfig.scss_compass}}
{{soconfig.css_out(soconfig.get_settings('cssExclude'))}}
{{soconfig.js_out(soconfig.get_settings('jsExclude'))}}


{# =========== Begin Google Font ==============#}
{% if soconfig.get_settings('url_body')  and  soconfig.get_settings('body_status') ==  'google' %} <link href='{{ soconfig.get_settings('url_body') }}' rel='stylesheet' type='text/css'> {% endif %}
{% if soconfig.get_settings('url_menu')  and  soconfig.get_settings('menu_status')  ==  'google' %} <link href='{{ soconfig.get_settings('url_menu') }}' rel='stylesheet' type='text/css'> {% endif %}
{% if soconfig.get_settings('url_heading')  and  soconfig.get_settings('heading_status') ==  'google' %} <link href='{{ soconfig.get_settings('url_heading') }}' rel='stylesheet' type='text/css'> {% endif %}
{% if selector_body %}
	<style type="text/css">
		{% if soconfig.get_settings('body_status') == 'google' %} {{ (selector_body|raw~'{font-family:'~ soconfig.get_settings('family_body')~'}') }}
		{% else %}  {{ selector_body|raw~'{font-family:'~ soconfig.get_settings('normal_body')~'}' }}{% endif %}
	</style>
{% endif %}
{% if selector_menu %}
	<style type="text/css">
		{% if soconfig.get_settings('menu_status') == 'google' %} {{ (selector_menu|raw~'{font-family:'~ soconfig.get_settings('family_menu')~'}') }}
		{% else %}  {{ selector_menu|raw~'{font-family:'~ soconfig.get_settings('normal_menu')~'}' }}{% endif %}
	</style>
{% endif %}
{% if selector_heading %}
	<style type="text/css">
		{% if soconfig.get_settings('heading_status') == 'google' %} {{ (selector_heading|raw~'{font-family:'~ soconfig.get_settings('family_heading')~'}') }}
		{% else %}  {{ selector_heading|raw~'{font-family:'~ soconfig.get_settings('normal_heading')~'}' }}{% endif %}
	</style>
{% endif %}


{# =========== Custom Code Editor ==============#}
{% if soconfig.get_settings('cssinput_status') and (soconfig.get_settings('cssinput_content')) is not empty %}
    <style type="text/css">{{ soconfig.get_settings('cssinput_content')  }} </style>
{% endif %}

{% if soconfig.get_settings('jsinput_status') and (soconfig.get_settings('jsinput_content')) is not empty %}
   <script type="text/javascript"><!--{{ soconfig.get_settings('jsinput_content')  }}  //--></script>
{% endif %}


{# =========== Begin Google Analytics ==============#}
{% for link in links %}<link href="{{ link.href }}" rel="{{ link.rel }}" />{% endfor %}
	{% for analytic in analytics %}
	{{ analytic }}
{% endfor %}

{# =========== Begin Cusom Code ==============#}
{% if soconfig.get_settings('layoutstyle') == 'boxed'  %}
	<style type="text/css">
	body {
		background-color:{{ soconfig.get_settings('theme_bgcolor') ? soconfig.get_settings('theme_bgcolor') : 'none' }} ;
		{% if soconfig.get_settings('contentbg') !='' %}
			background-image: url("image/{{soconfig.get_settings('contentbg') }} ");
		{% endif %}
		background-repeat:{{ soconfig.get_settings('content_bg_mode') is not empty ? soconfig.get_settings('content_bg_mode') : 'no-repeat' }} ;
		background-attachment:{{ soconfig.get_settings('content_attachment') is not empty ? soconfig.get_settings('content_attachment') : 'inherit' }} ;
		background-position:top center;
	}
	</style>
{% endif %}
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149715873-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-149715873-1');
	</script>
</head>
{# =========== Add class Body ==============#}

	{% set layoutbox =  url_layoutbox is not empty  ? url_layoutbox : soconfig.get_settings('layoutstyle') %}
	{% set pattern  =  url_pattern is not empty    ? url_pattern : soconfig.get_settings('pattern') %}


	{% set cls_body = class ~ ' ' %}
	{% set cls_body = cls_body ~ direction %}
	{% set cls_body = cls_body ~ ' layout-'~soconfig.get_settings('typelayout')%}
{% if layoutbox=='boxed' and pattern !='none' and soconfig.get_settings('contentbg') is empty %}
	{% set cls_body = cls_body ~ ' pattern-'~pattern%}
{% endif %}

	{% set cls_wrapper = 'wrapper-'~layoutbox%}
	{% set cls_wrapper = cls_wrapper ~ ' banners-effect-'~soconfig.get_settings('type_banner')%}


<body class="{{cls_body}}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSZMWT5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper" class="{{cls_wrapper}}">

{# =========== Show Preloader ==============#}
{% if soconfig.get_settings('preloader')%}
	{% include theme_directory~'/template/soconfig/preloader.twig' with {preloader: soconfig.get_settings('preloader_animation')} %}
{% endif %}

{# =========== Show Header==============#}
{% if soconfig.get_settings('typeheader') =='1'%}
	{% include theme_directory~'/template/header/header1.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='2'%}
	{% include theme_directory~'/template/header/header2.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='3'%}
	{% include theme_directory~'/template/header/header3.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='4'%}
	{% include theme_directory~'/template/header/header4.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='5'%}
	{% include theme_directory~'/template/header/header5.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='6'%}
	{% include theme_directory~'/template/header/header6.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='7'%}
	{% include theme_directory~'/template/header/header7.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='8'%}
	{% include theme_directory~'/template/header/header8.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='9'%}
	{% include theme_directory~'/template/header/header9.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='10'%}
	{% include theme_directory~'/template/header/header10.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='11'%}
	{% include theme_directory~'/template/header/header11.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='12'%}
	{% include theme_directory~'/template/header/header12.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='13'%}
	{% include theme_directory~'/template/header/header13.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='14'%}
	{% include theme_directory~'/template/header/header14.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='15'%}
	{% include theme_directory~'/template/header/header15.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='16'%}
	{% include theme_directory~'/template/header/header16.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='17'%}
	{% include theme_directory~'/template/header/header17.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='18'%}
	{% include theme_directory~'/template/header/header18.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='19'%}
	{% include theme_directory~'/template/header/header19.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% elseif soconfig.get_settings('typeheader') =='20'%}
	{% include theme_directory~'/template/header/header20.twig' with {typeheader: soconfig.get_settings('typeheader')} %}
{% else%}
	<style>
		.alert-primary .alert-link {color: #002752;}
		.alert-link {font-weight: 700;text-decoration: none;}
		.alert-link:hover{text-decoration: underline;}
		.alert {color: #004085;background-color: #cce5ff;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid #b8daff;border-radius: .25rem;
		}
	</style>
	<div class="alert alert-primary">
			Go to admin, find Extensions >>  <a class="alert-link" href="admin/index.php?route=marketplace/modification"  target=”_blank”> Modifications </a> and click 'Refresh' button. To apply the changes characterised by the uploaded modification file
	</div>
{% endif %}

<div id="socialLogin"></div>
