{% if languages|length > 1 %}
<div class="pull-left">
  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-language">
    <div class="btn-group">
      <button class="btn-link dropdown-toggle" data-toggle="dropdown" style="padding-top: 0px;">
      {% for language in languages %}
      {% if language.code == code %} 
      {% if language.name == 'Russian' %}
          RU
      {% else %}
          UA
      {% endif %}
      <span class="hidden-xs hidden-sm hidden-md"></span>
      {% endif %}
      {% endfor %}
      <i class="fa fa-caret-down"></i>
    </button>
      
    <ul class="dropdown-menu" style="min-width: 30px;">
        {% for language in languages %}
        <li>
          <button class="btn-block language-select" type="button" name="{{ language.code }}">
		 {% if language.name == 'Russian' %}
          RU
      {% else %}
          UA
      {% endif %}
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value="" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>
</div>
{% endif %}
